

.bs{box-shadow: 0 4px 10px rgba(0,0,0,0.43);}

.form-control:hover,  .form-control:focus{
    background-color: #f2f4f8;
    border: none;
    outline: none;
}
.form-control{
    outline: transparent;
    border: none;
    transition: background-color 0.35s ease;
}

.icons{
  display: none;
}
a, a:hover {
    text-decoration: none;
    color: black;
}
.btnlogin:hover{
  background-color: #74B866;
  border: 1px solid #74B866;
  color: white;
}
.btnlogin{
  background-color: #0f2453;
}
.btn-success-lt {
    background: #22ba93;
    border: 1px solid #22ba93;
    border-radius: 0px;
    color: white;
  }


.m-t-21{margin-top:21px !important;}

.m-l-_15 {margin-left:-15px !important;}
.m-l-_55 {margin-left:-55px !important;}
.m-l-_60 {margin-left:-60px !important;}
.m-l-_70 {margin-left:-70px !important;}

 


/*@media only screen and (max-width: 320px){
  .mm-l-_10 {margin-left:-10px !important;}

  .mwidth-16{width:16px !important;}

}


@media only screen and (max-width: 575px){
 

  .mm-l-0 {margin-left:0px !important;}

  .mp-l-0{padding-left:0px !important;}
  .mp-l-5{padding-left:5px !important;}
  .mp-l-10{padding-left:10px !important;}

  .mp-r-0{padding-right:0px !important;}

  
   .mwidth-30{width:30px !important;}
    .mwidth-40{width:40px !important;}
  .mwidth-70{width:70px !important;}
  .mwidth-80{width:80px !important;}

   .mwidth-17p{width:17% !important;}
  .mwidth-100p{width:100% !important;}
  .mf-10{font-size:10px !important;}
  .mf-11{font-size:11px !important;}
  .mf-12{font-size:12px !important;}
  .mf-14{font-size:14px !important;}
  .mf-16{font-size:16px !important;}

   .mm-t-0{margin-top:0px !important;}
   .mm-t-5{margin-top:5px !important;}
  .mm-t-10{margin-top:10px !important;}



  .mh-100p { height:100% !important; }
  .mw-600{font-weight:600 !important;}
  .mw-700{font-weight:700 !important;}


  .mm-l-_50 {margin-left:-50px !important;}
}
@media only screen and (max-width: 991px){
    
}*/